
html{
    background-image: url(image/hatter.jpg);
    
    width:auto;
}

h1{ 
    font-size:20px;
    font-family:serif;
    text-transform: uppercase;
    color: rgb(223, 7, 7);

}
h2{
    font-size:15px;
    font-family:serif;
   
}

header,nav,aside,article, footer{
    border:2px white;
    padding:0px;
}

main{
    width:65%;
    margin:0 auto;

    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "h h h h h  "
    "n n n n n"
    "ar ar ar as as "
    " f f f f f "
    ;
  
}
header{ 
    grid-area:h;
    display:block;
    text-align: center;
    background-image:url("image/mikulas.jpg");
    background-size:cover;
   
    height: 550px;
    background-repeat: no-repeat;   
}


nav{ 
    grid-area:n;
    display: grid;
   
    background-color: rgb(223, 7, 7);

}
aside{ 
    grid-area:as;
    background-color: rgb(245, 239, 239);
}
article{ 
    grid-area:ar;
    background-color: rgb(245, 239, 239);
    overflow: auto;
}
footer{ 
    grid-area:f;
    text-align: center;
    background-color: rgb(223, 7, 7);
    color: white;
    
}

nav li{
    list-style-type: none;
  
}
nav ul{
    padding-left: 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    
    
}
nav a{
    text-decoration:none ;
    background-color: red;
    text-align:center;
    display:block;   
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width:2px;
    
    
}
nav a:hover{
    background-color:red;
    color: black;
    

}
@media screen and (max-width: 800px){
	main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-areas:
        "h h h"
        "n n n"
        "ar ar ar"
        " f f f";
    }
    header{
       
        max-height: 200px;
   
    }
}   

@media screen and (max-width: 400px){
    main {
          
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "h h " 
            "n n " 
            "ar ar "
            "f f ";
    }
    header{
       
        max-height: 120px;
   
    }    
}
